[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AUC"]
	path = AUC
	url = https://github.com/cran/AUC
[submodule "dummy"]
	path = dummy
	url = https://github.com/cran/dummy
[submodule "genalg"]
	path = genalg
	url = https://github.com/cran/genalg
[submodule "interpretR"]
	path = interpretR
	url = https://github.com/cran/interpretR
[submodule "kernelFactory"]
	path = kernelFactory
	url = https://github.com/cran/kernelFactory
[submodule "rotationForest"]
	path = rotationForest
	url = https://github.com/cran/rotationForest
